<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Đăng Nhập</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- check out section -->
<div class="checkout-section mt-150 mb-150 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-accordion-wrap">
                    <div class="accordion " id="accordionExample">
                        <form [formGroup]="loginForm">
                            <div class="card single-accordion">
                                <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Đang Nhập 
                                    </button>
                                </h5>
                                </div>
        
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <!-- <form action="index.html"> -->
                                            <p><input type="email" formControlName="email"   placeholder="Nhập Email" class="form-control"></p>
                                            <p><input type="password"  formControlName="password"   placeholder=""  class="form-control"></p>
                                        
                                            <button class="btn btn-primary" type="button" (click)="submit()">Đăng nhập</button>
                                            <a   routerLink="/dangki">Bạn Chưa Có Tài Khoản</a>
        
                                        <!-- </form> -->
                                    </div>
                                </div>
                                </div>
                            </div>
                      </form>

                      
                    
                    </div>

                </div>
            </div>

          
        </div>
    </div>
</div>
<ul *ngFor="let item of login">
    <li>{{item.id}}</li>
    <li>{{item.email}}</li>
    <li>{{item.password}}</li>
</ul>
<!-- end check out section -->
<!-- <div class="col-lg-12 justify-center">
    <h3 class="text-center">Login</h3>
    <form (ngSubmit)="submit()" #myForm="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="form.email" name="email" id="email" class="form-control" placeholder="Email Address" #email="ngModel" aria-describedby="helpId" required>
            <small *ngIf="email.invalid && (email.touched || email.dirty)" id="helpId" class="text-danger">Email field must be valid</small>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" [(ngModel)]="form.password" minlength="8" name="pass" id="pass" autoComplete="on" class="form-control" placeholder="Password" #pass="ngModel" aria-describedby="helpId" required>
            <small *ngIf="pass.invalid && (pass.touched || pass.dirty)" id="helpId" class="alert">
                <small *ngIf="pass.errors?.['required']" id="helpId" class="text-danger">Password field must be valid</small>
                <small *ngIf="pass.errors?.['minlength']" id="helpId" class="text-danger">Pass must be at least 8 characters long.</small>
            </small>
        </div>
        <button type="submit" [disabled]="myForm.form.invalid" class="btn btn-primary"><ng-container>Submit</ng-container></button>
    </form>
</div> -->