    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        
                        <h1>Chi Tiết Sản Phẩm</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- single product -->

    <div class="single-product mt-150 mb-150">
        <hr>
        <div class="container">
            <div class="row">
                
                <div class="col-md-5">
                    <div class="single-product-img">
                        <img [src]="productdetail?.imageUrl" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="single-product-content  m-auto">
                        <h3 class="text-primary">{{productdetail?.productName}}</h3>
                        <p class="single-product-pricing"><span>Per Kg</span>Đơn Giá : {{productdetail?.price}} <sup>đ</sup></p>
                        <p>Mô Tả Sản Phẩm : </p><span>* {{productdetail?.description}} *</span>
                        <p>Số Lượng Tồn : {{ InStock }} KG</p>
                        <div class="single-product-form">
                            <!-- <form action="index.html"> -->

                            <!-- </form> -->
                            <button  class="btn btn-primary rounded-5"[disabled]="InStock<1" (click)="Add()"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                            <!-- <p><strong>Categories: </strong>Fruits, Organic</p> -->
                        </div>
                        <h4>Share:</h4>
                        <ul class="product-share">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <!-- end single product -->