	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Ảnh Sản Phẩm</th>
									<th class="product-name">Tên</th>
									<th class="product-price">Giá</th>
									<th class="product-quantity">Số Lượng</th>
									<th class="product-total">Tổng Tiền</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of cartList" class="table-body-row">
									<td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img [src]="item.ImageUrl" alt=""></td>
									<td class="product-name">{{ item.Name }}</td>
									<td class="product-price">{{ item.Price }}</td>
									<td class="product-quantity">
										<div class="d-flex justify-content-center">
											<button class="btn btn-danger" (click)="decreaseQuantity(item)">-</button>
											<input type="number" [(ngModel)]="item.Quantity" class="form-control w-25 mx-3" disabled>
											<button class="btn btn-primary" (click)="increaseQuantity(item)">+</button>
										</div>
									</td>
									<td class="product-total">{{item.TotalPrice}}</td>
								  </tr>
								
							</tbody>
							
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>{{TotalPrice()}}</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<!-- <a routerLink="/checkout" class="boxed-btn black">Check Out</a> -->
							<a  class="boxed-btn black" (click)=" CheckLoginn()">Check Out</a>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->